<!DOCTYPE html>
<html>
<head>
	<title>SampleKitManager</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href='https://www.corefact.com/manage/store/orders' target='_blank' class="brand-logo"><img src='/assets/img/corefact.png' class='logo'></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{#if user}}
          <li><a href="/">DASHBOARD</a></li>
          <li><a href="/users/manager">MANAGE INVENTORY</a></li>
          <li><a href="/users/logout">LOGOUT</a></li>
        {{else}}
          <li><a href="/users/login">LOGIN</a></li>
          <li><a href="/users/register">REGISTER</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{#if user}}
      <li><a href="/">DASHBOARD</a></li>
      <li><a href="/users/manager">MANAGE INVENTORY</a></li>
      <li><a href="/users/logout">LOGOUT</a></li>
    {{else}}
      <li><a href="/users/login">LOGIN</a></li>
      <li><a href="/users/register">REGISTER</a></li>
    {{/if}}
  </ul>

  <div>
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}     
  </div>

  <div class="container">
     {{{body}}} 
  </div>

  <footer>
    <div class="container">
      <p class='links'><a href='https://www.corefact.com/manage/store/orders' target='_blank'>ORDER MANAGER | </a><a href='https://www.corefact.com/production/#!/shipping' target='_blank'>SHIPPING MANAGER</a></p>
      <p>&copy; 2018 Something not working? please email khoi@corefact.com</p>
    </div>
  </footer> 

  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script src="/assets/js/materialize.js"></script>
  <script src="/assets/js/update.js"></script>
  <script src="/assets/js/delete.js"></script>
  <script src="/assets/js/index.js"></script>
</body>
</html>
